* {
  box-sizing: border-box;
  width: 100%;
  margin: 0;
}

body {
  font-family: 'Bebas Neue', sans-serif;
  overflow-x: hidden;
}

header {
  text-align: center;
  margin-bottom: 1rem;
}


.logo {
  width: 20rem;
}

.pokemon-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.listitem {
 list-style-type: none;
}

.pokemon-button {
  background-color: #fff200;
  border: 0.5rem solid rgb(255, 74, 228);
  margin: 10px;
  padding: 20px;
  font-family: inherit;
  font-size: 3rem;
  width: 99%;
}